.sass-cache/
src/bower_components/
doc/
dev-dependencies/
src/log/
src/www/css/
src/temp/
/src/vendor/
!src/vendor/others
/vendor/

!.gitignore
!.htaccess
!web.config
composer.lock
src/app/config/config.local.neon
dev/deploy.sh
