{block content}

<div class="jumbotron">
    <h1>Chybějící identifikátory ČSFD</h1>
    <p>Systém detekoval, že na některých článků chybí identifikátor pro databázi filmů ČSFD.</p>
    <p><a n:href="Homepage:" class="btn btn-default" role="button">Vrátit se zpět na rozcestník</a></p>
</div>

<div n:foreach="$proposals as $proposal">
    <h2><a href="https://cs.wikipedia.org/wiki/{$proposal->name|url}">{$proposal->name}</a></h2>
    <pre>{$proposal->notice}</pre>
    <hr>
</div>
