{block content}

<h1>Missing ČSFD identifier in infobox</h1>
<p>Note: template of infobox with example is <a href="https://cs.wikipedia.org/wiki/%C5%A0ablona:Infobox_-_film">here</a>.</p>

<hr>
<div n:foreach="$proposals as $proposal">
    <h2><a href="https://cs.wikipedia.org/wiki/{$proposal->name|url}">{$proposal->name}</a></h2>
    <pre>{$proposal->notice}</pre>
    <hr>
</div>
